---
layout: default
---

<div id="main" role="main">			
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% if page.categories %}{% include breadcrumbs2.html %}{% endif %}
		
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		
		<div class="inner-wrap">
		
			
			<div id="content" class="page-content" itemprop="articleBody">
			{{ content }}
				<hr />
			
			
			
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		
		
		<div class="test">
			
			<table width=30% style="border:3px dashed plum;" cellspacing="5" bgcolor="plum" cellpadding="5"><tr><td style="border:3px dashed white;" bgcolor="white">
			
			<h6>โพสล่าสุด</h6>
			{% for post in site.categories.articles limit:4 %}
			{% include post-list.html %}
			{% endfor %}
			<hr noshade size="1" align="center" color="FFCCCC"> 

		
			
			
			
		</div>


		
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		
		
		
		</div>
		{% if page.ads == true %}
		
		<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->

