---
layout: default
---

<div id="main" role="main">			
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% if page.categories %}{% include breadcrumbs2.html %}{% endif %}
		
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		
		<div class="inner-wrap">
		
			
			<div id="content" class="page-content" itemprop="articleBody">
			{{ content }}
				<hr />
			
			
			
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		
		
		<div class="test">
			
			<table width=30% style="border:3px dashed plum;" cellspacing="5" bgcolor="plum" cellpadding="5"><tr><td style="border:3px dashed white;" bgcolor="white">
			
			<h6>โพสล่าสุด</h6>
			{% for post in site.categories.articles limit:4 %}
			{% include post-list.html %}
			{% endfor %}
			<hr noshade size="1" align="center" color="FFCCCC"> 

		
			<center><fb:like-box href="https://www.facebook.com/elapaint" width="300" show_faces="true" border_color="" stream="false" header="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;header=true&amp;href=http%3A%2F%2Ffacebook.com%2Fthinkdiff.net&amp;locale=en_Us&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=300">
			<span style="vertical-align: bottom; width: 300px; height: 271px;"><iframe name="f3c7e2081c" width="300px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FNM7BtzAR8RM.js%3Fversion%3D41%23cb%3Df2ce63b73c%26domain%3Dthinkdiff.net%26origin%3Dhttp%253A%252F%252Fthinkdiff.net%252Ff1cc974c74%26relation%3Dparent.parent&amp;container_width=0&amp;header=true&amp;href=http%3A%2F%2Ffacebook.com%2Fthinkdiff.net&amp;locale=en_US&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=300" style="border: none; visibility: visible; width: 300px; height: 271px;" class=""></iframe></span>
			</fb:like-box></center>
			<hr noshade size="1" align="center" color="FFCCCC"> 
			
			<h6>ทวิตล่าสุด</h6>
			<a class="twitter-timeline" href="https://twitter.com/elapaint" data-widget-id="572381121132781568">Tweets by @elapaint</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<hr noshade size="1" align="center" color="FFCCCC"> 
			
			</td></tr></table>	
			
		</div>


		
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		
		
		
		</div>
		{% if page.ads == true %}
		
		<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->

